{% extends "base.html" %}



{% block content %}
<div class="column landing-caption">
    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Support Us :)</h1>
    <h2 class="subtitle is-4 is-light is-thin">
      We Run Purely Off Donations and Your Kindness
    </h2>

    <br></br>
    <div id="donateTable">
        <div class="container">
          <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
              <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered">
                <thead>
                  <tr>
                    <th>Crypto</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
    
    
                  <tr>
                    <td class="cell-breakWord">XMR</td>
                    <td class="cell-breakWord">49XFhWs1T63Piz6BkEtpGkGDxD4PBGxjYBQAJPGKSu8SKj2mmFCoCxy2WkomcbzCrajZhrPoBfFSuCj4V8UrBkLCGYDVyPe</td>
                  </tr>

                      
                  <tr>
                    <td class="cell-breakWord">BTC</td>
                    <td class="cell-breakWord">bc1q8w98sh2hcrh8amkvc5nh08thuma5dn2vazun9y</td>

                  </tr>

                  <tr>
                    <td class="cell-breakWord">ETH</td>
                    <td class="cell-breakWord">0x3ddaE572C415D2dEdc1F22D8DB366153d964DF51</td>
                  </tr>

                  <tr>
                    <td class="cell-breakWord">MATIC</td>
                    <td class="cell-breakWord">0x3ddaE572C415D2dEdc1F22D8DB366153d964DF51</td>
                  </tr>

                  <tr>
                    <td class="cell-breakWord">AVAX</td>
                    <td class="cell-breakWord">0x3ddaE572C415D2dEdc1F22D8DB366153d964DF51</td>
                  </tr>

                  <tr>
                    <td class="cell-breakWord">ADA</td>
                    <td class="cell-breakWord">addr1q9f5rgj4vswl4xflgjp7avy9glyrglggdd9ln244k4x3h6r7cdutpzn825vp7vywjmdzd043yrmnjlyskzd76jrcu7vqv2kpdm</td>

                  </tr>

                  <tr>
                    <td class="cell-breakWord">DOT</td>
                    <td class="cell-breakWord">148cU1rgXXvmp3jjMhFjzuHsz8iQ3A322ThcU9zKAnZjGPNk</td>

                  </tr>

                  <tr>
                    <td class="cell-breakWord">LTC</td>
                    <td class="cell-breakWord">ltc1q3pz87jhaf6p7xew69fa67n8p8k4yuc0c0pz4q5</td>

                  </tr>
    
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


</div>   
{% endblock %}