{% extends "base.html" %}


{% block content %}
<!-- Landing page Title -->
  <div class="column landing-caption">
    
    <section>
    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Welcome to DCA Stack</h1>
    <h2 class="subtitle is-4 is-light is-thin">
      An Automated Dollar Cost Averaging Bot For Your Crypto
    </h2>
    </section>

    <section>
      <br>
      <br>
      <a href="https://docs.dcastack.com/" target="_blank" class="button is-large is-white" rel="noopener">
        Learn More
    </a>
  </section>

    <section>

    <div class="threetier">
      <div class="columns">
        <div class="column">
          <h1 class="title is-3 is-light is-semibold is-spaced">100+ Exchanges</h1>
        </div>
        <div class="column">
          <h1 class="title is-3 is-light is-semibold is-spaced">1000+ Trading Pairs</h1>
        </div>
        <div class="column">
          <h1 class="title is-3 is-light is-semibold is-spaced">Completely Free</h1>
        </div>
      </div>
    </div>
  </section>

  
  </div>



{% endblock %}